<div class="contenedorPantalla">
  <br><br><br>
  <h1><strong style="font-size: 35px !important; color: #215f92!important;">MERCANCIA &nbsp;
      <i class="fas fa-shopping-bag" style="color: gray !important;" aria-hidden="true"></i>
    </strong> </h1>
  <hr>
  <div class="contenedorForma" [formGroup]="formProducto">
    <br> <br>
  <strong style="color: gray !important;">Realice la busqueda de los productos filtrando por &nbsp;
   <span style="color: #215f92!important;">FECHA INGRESO &nbsp; <i class="fas fa-calendar-week"></i></span>  &nbsp; o &nbsp;
   <span style="color: #215f92!important;"> NOMBRE &nbsp; <i class="fas fa-shopping-bag"  aria-hidden="true"></i></span>
  </strong>
    <br><br><br><br>

    <mat-form-field class="inputx3 animated fadeIn">
      <input matInput formControlName="nombre" placeholder="Nombre Producto"
        (input)="formProducto.controls.nombre.setValue(formProducto.controls.nombre.value.toUpperCase())"
        #codigo maxlength="100" required />
      <i matSuffix style="color: gray !important;" class="fas fa-shopping-bag"></i>
    </mat-form-field>


    <mat-form-field class="inputx3 animated fadeIn">
      <input matInput formControlName="fechaIngreso" placeholder="Fecha Ingreso" [matDatepicker]="picker1" readonly required>
      <mat-datepicker-toggle style="font-size: 16px !important;" matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker style="font-size: 16px !important;" #picker1></mat-datepicker>
      &nbsp;&nbsp;&nbsp;

    </mat-form-field>

    <mat-form-field class="inputx3 animated fadeIn">
      <input matInput formControlName="cantidad" placeholder="Cantidad"
        (keypress)="confi.validarCaracter($event, 'NUM')" #codigo maxlength="3" required />
      <i matSuffix style="color: gray !important;" class="fas fa-box-open"></i>
    </mat-form-field>

    <div class="contenedorBotones flex">

      <button *ngIf="!isEditarProducto" type="button" mat-raised-button color="primary"
        style="background-color: #215f92!important; border-radius: 25px 25px 25px 25px !important; height: 42px !important;"
        class="borderRadius7 marginLados boton" (click)="guardarProducto(formProducto)">
        <span>Crear Producto</span>&nbsp;&nbsp;
        <i class="fas fa-shopping-bag" aria-hidden="true"></i>
      </button>

      <button *ngIf="isEditarProducto" type="button" mat-raised-button color="primary"
        style="background-color: #215f92!important; border-radius: 25px 25px 25px 25px !important; height: 42px !important;"
        class="borderRadius7 marginLados boton" (click)="guardarProducto(formProducto)">
        <span>Actualizar Producto</span>&nbsp;&nbsp;
        <i class="fa fa-save"></i>
      </button>



      <button  type="button" mat-raised-button
        style=" border-radius: 25px 25px 25px 25px !important; height: 42px !important;"
        class="borderRadius7 marginLados boton" (click)="limpiarForma(formProducto)">
        <span>Limpiar Forma</span>&nbsp;&nbsp;&nbsp;
        <i class="fa fa-eraser" aria-hidden="true"></i>
      </button>

      <button *ngIf="!isEditarProducto" type="button" mat-raised-button color="primary"
        style="background-color: #215f92!important; border-radius: 25px 25px 25px 25px !important; height: 42px !important;"
        class="borderRadius7 marginLados boton" (click)="obtenerProductos()">
        <span>Buscar Productos</span>&nbsp;&nbsp;
        <i class="fas fa-search"></i>
      </button>
    </div>
    <br><br>

    <h1 *ngIf="dataSource.data.length > 0">
      <strong style="font-size: 22px !important; color: #215f92!important;">Productos &nbsp;
        <i class="fas fa-shopping-basket" style="color: gray !important;" aria-hidden="true"></i>
      </strong> </h1>
    <hr *ngIf="dataSource.data.length > 0">
    <br><br>
    <div class="contenedorResultadosTabla " *ngIf="dataSource.data.length > 0">


      <div id="tablaCliente ">
        <!--        _______________________________________________  TABLA DE DETALLES    -->
        <div class="contenedorTabla" id="resultados ">
          <mat-table #Table class="mat-elevation-z8 tabla" [dataSource]="dataSource " matSort>

            <!-- valorU Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="flex ">
                ID
              </mat-header-cell>
              <mat-cell *matCellDef="let element " class="">
                {{ element.id }}

              </mat-cell>
            </ng-container>

            <!-- valorU Column -->
            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="flex ">
                NOMBRE
              </mat-header-cell>
              <mat-cell *matCellDef="let element " class="">
                {{ element.nombre|uppercase }}

              </mat-cell>
            </ng-container>

            <!-- valorU Column -->
            <ng-container matColumnDef="cantidad">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="flex ">
                CANTIDAD
              </mat-header-cell>
              <mat-cell *matCellDef="let element " class="">
                {{ element.cantidad }}

              </mat-cell>
            </ng-container>

            <!-- valorU Column -->
            <ng-container matColumnDef="fecha_ingreso">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="flex ">
                FECHA REGISTRO
              </mat-header-cell>
              <mat-cell *matCellDef="let element " class="">
                {{ element.fecha_ingreso  | date: 'dd/MM/yyyy' }}

              </mat-cell>
            </ng-container>


            <!-- Columna valor parcial -->
            <ng-container matColumnDef="opciones">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="flex ">
                OPCIONES
              </mat-header-cell>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-cell *matCellDef="let element; let i=index " class="">
                <span color="primary" mat-flat-button aria-hidden="true " matTooltip="Editar" matTooltipShowDelay="250 "
                  matTooltipHideDelay="0 " matTooltipPosition="above" style="cursor: pointer"
                  (click)="listarProducto(element)">
                  &nbsp; <i class="fas fa-edit" style="color: #215f92!important;"></i>
                </span>
                &nbsp;&nbsp;
                <span *ngIf="element.usuario === usuario " color="primary" mat-flat-button aria-hidden="true "
                  matTooltip="Eliminar" matTooltipShowDelay="250 " matTooltipHideDelay="0 " matTooltipPosition="above"
                  style="cursor: pointer" (click)="eliminarProducto(element)">
                  &nbsp; <i class="fa fa-trash" style="color: rgb(155, 35, 35) !important;"></i>
                </span>

              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns "></mat-row>
          </mat-table>
        </div>
        <mat-paginator *ngIf="dataSource && dataSource.data.length > 0" style="width: 100% !important;" #paginator
          [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]">
        </mat-paginator>
      </div>
    </div>





    <br><br>
  </div>

</div>