

.contenedorPantalla{
 margin-top: 50px !important;
 margin-left: 5% !important;
 margin-right: 5% !important;
 margin-bottom: 110px !important;
 width: 90% !important;
}
#parentConsultaClientes {
  width: 100%;
  margin: 0px 5% 60px;
  margin-top: 30px !important;
}

#contenedorBotonCliente {
  width: 90%;
  margin: 0 2.5% 0;
  
}


#contenedorBotonCliente {
  width: 90%;
  margin: 0 2.5% 0;
}

.errorCorreo{
  font-size: 12px !important;
  margin-top: 5px !important;
}

#btnCrear{
  background-color: rgb(34, 55, 100) !important;
   width: 20% !important;
   border-radius: 18px 18px 18px 18px;
   -moz-border-radius: 18px 18px 18px 18px;
   -webkit-border-radius: 18px 18px 18px 18px;
   border: 0px solid #000000;
}
#btnEditar{
  background-color: rgb(34, 55, 100) !important;
   width: 20% !important;
   border-radius: 18px 18px 18px 18px;
   -moz-border-radius: 18px 18px 18px 18px;
   -webkit-border-radius: 18px 18px 18px 18px;
   border: 0px solid #000000;
}
#btnLimpiar{
  background-color: rgb(189, 189, 189) !important;
   width: 20% !important;
   border-radius: 18px 18px 18px 18px;
   -moz-border-radius: 18px 18px 18px 18px;
   -webkit-border-radius: 18px 18px 18px 18px;
   border: 0px solid #000000;
}


#configActualizacionDatos {
  margin-left: 10px;
  margin-top: 80px !important;
}

#tablaBodega{
  margin-top: 50px;
  margin-bottom: 50px;
}

.tabla{
  width: 100% !important;
  min-width: 1020px !important;
  padding-bottom: 0em !important;
}

.contenedorTabla{
  width: 100% !important;
}

.botonFecha{
  position: absolute ;
  top: 0;
  right: -5px !important;
  background: transparent;
  width: 10%;
  height: 100%;
  border: none;
  cursor: pointer;
  color: rgb(34, 55, 100) !important;
  
}

#inputFile{
  margin-top: 10px !important;
  color: #223764 !important;
  font-size: 13px;
  font-weight: bold !important;
  margin-left: 15px !important;
  cursor: pointer !important;
  width: 90% !important;
}

::ng-deep.color-collection-row{
  display: none !important;
}
::ng-deep .color-canvas-row{
  /*display: none !important;*/
}


@media screen and (max-width: 1020px) {
  .contenedorTabla{
      overflow-x: scroll !important;
  }

  #inputFile{
    margin-top: 10px !important;
    color: #223764 !important;
    font-size: 11px;
    font-weight: bold !important;
    margin-left: 15px !important;
    cursor: pointer !important;
    width: 100% !important;
}
}
#textoActualizar {
  margin-right: 20px;
}

#spinner {
  margin: 15vh 0 20vh;
}
#margenForma{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100% !important;

}



#contenedorDatosUsuario {
  margin: 20px 0 30px;
}




@media screen and (max-width: 800px) {
  #contenedorDatosUsuario {
      margin: 30px 0;
  }

  .errorCorreo{
      margin-top: 10px !important;
  }
}

@media screen and (max-width: 600px) {

  .boton{
    width: 90% !important;
    margin-bottom: 20px !important;
    }
  
    .contenedorBotones{
      display: inline-block !important;
      margin-top: 45px !important;
    }

  #contenedorBotonCliente button {
      margin: 0 0 7px !important;
      width: 100%;
  }
  .errorCorreo{
      font-size: 12px !important;
      margin-top: 10px !important;
  }
}


@media screen and (max-width: 440px) {
  #contenedorBotonCliente {
      flex-wrap: wrap-reverse;
      margin: 10px 2.5% 20px;
      width: 95%;
  }
  #contenedorBotonCliente button {
      margin: 0 0 7px !important;
      width: 100%;
  }
}