
.textoError{
  color: #215f92!important;
  width: 90%;
  text-align: center !important;
  display: flex;
  margin-left: 4%;
  font-size: 18px !important;
}

.contenedorPantalla{
 margin-top: 50px !important;
 margin-left: 5% !important;
 margin-right: 5% !important;
 margin-bottom: 110px !important;
 width: 90% !important;
}



.tarjetaInicio{
background: rgba(255, 255, 255, 0.9) !important;
width: 50% !important;
margin-left: 25% !important;
margin-right: 25% !important;
margin-top: 3% !important;
}



#tituloTarjeta {
color: #215f92!important;
text-align: center;
font-weight: 900;
font-size: 24px;
font-weight:bold;
letter-spacing:1px;
font-family:Arial, Helvetica, sans-serif;
text-align: center !important;
margin-top: 35px !important;
}


#nav #tituloApp {
  position: absolute;
  margin-left: 65px;
  width: calc(100% - 830px);
  color: #215f92!important;
  text-align: center;
  letter-spacing: 9px;
  font-weight: 900;
  font-size: 24px;
  font-weight:bold;
  letter-spacing:1px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: left !important;
}



/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }

  .tarjetaInicio{
    background-color: rgb(252, 252, 252) !important;
    width: 70% !important;
    margin-left: 12% !important;
    margin-right: 18% !important;
    margin-top: 15% !important;

   }
   
}
::ng-deep.owl-stage {
  display: flex !important;
  max-height: 120px !important;
  margin-top: 100px !important;
}

::ng-deep.owl-item {
  width: 100% !important;
  text-align: center !important;
  height: 100px;
  color: #002450 !important;
}

::ng-deep.owl-prev {
display: none;
}
::ng-deep.owl-next {
  display: none;
    }

.textoCarrusel{
  width: 60% !important;
  color: #002450 !important;
  display: inline-block;
}

.imagenesCarrusel{
  display: inline-block !important;
  width: 8% !important;
}

@media screen and (max-width: 575px) {
  .textoCarrusel{  
  font-size: 14px;
  width: 40%;
}



#tituloApp{
  font-size: 20px !important;
}
.textoCheckbox{
  font-size: 13px !important;
  }
.imagenesCarrusel{
  width: 20% !important;
  height: 60px !important;
}
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
  #nav #cerrarSesion {
      right: 20px;
      height: 35px;
      min-width: 50px;
  }
  #textLogout{
      display: none !important;
  }

  .tarjetaInicio{
    background-color: rgb(252, 252, 252) !important;
    width: 88% !important;
    margin-left: 1% !important;
    margin-right: 8% !important;
    margin-top: 30% !important;

   }
   #tituloTarjeta {
  font-size: 20px !important; 
  }

}