

<div class="contenedorPantalla" >
  <br><br>
  <h1><strong style="font-size: 35px !important; color: #215f92!important;">INICIO &nbsp;
    <i class="fa fa-home" style="color: gray !important;" aria-hidden="true"></i>
  </strong> </h1>
  <hr>
  <br><br><br>
 
  <mat-card class="tarjetaInicio">
    <br><br>
    <div style="width: 100% !important; display: inline-flex;" class="flex">
   <h1 style="color: #215f92!important; font-size: 120px; margin-bottom: -10px;margin-top: -10px;"><i class="fas fa-archway"></i></h1>
    </div>
<br>
    <h2 id="tituloTarjeta">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
      &nbsp;&nbsp;<strong style="color: gray !important; font-size: 25px !important;"> Bienvenido </strong> &nbsp;&nbsp;
      <i class="fa fa-user-circle" aria-hidden="true"></i></h2>
    <hr>
     <br><br>
<strong class="textoError"> Bienvenido al portal de administración de mercancia aqui podras administrar los productos y los diferentes usuarios.</strong>
 <br><br>
</mat-card>
</div>

