#nav {
    /* background: -webkit-linear-gradient(left, rgb(243, 246, 250) , rgb(3, 27, 78)); /* For Safari 5.1 to 6.0 */
    /* background: -o-linear-gradient(right, rgb(243, 246, 250), rgb(3, 27, 78)); /* For Opera 11.1 to 12.0 */
     /*background: -moz-linear-gradient(right, rgb(243, 246, 250), rgb(3, 27, 78)); /* For Firefox 3.6 to 15 */
     /*background: linear-gradient(to right, rgb(243, 246, 250) , rgb(3, 27, 78)); /* Standard syntax */
     background: rgba(255, 255, 255, 0.6) !important;
     position: fixed;
     top: 0;
     height: 55px;
     min-height: 55px;
     min-width: 280px;
     width: 100%;
     z-index: 100;
     margin-left: -10px !important;
  }
  
  .contenedorPantalla{
   margin-top: 50px !important;
   margin-left: 5% !important;
   margin-right: 5% !important;
   margin-bottom: 110px !important;
   width: 90% !important;
  }
  
  .textoCheckbox{
  text-align: center !important;
  width: 100% !important;
  color: #002450;
  font-weight: bold;
  }
  
  .contenedorForma{
  margin-top: 20px !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
  width: 90% !important;
  }
  
  .tarjetaInicio{
  background: rgba(255, 255, 255, 0.9) !important;
  width: 30% !important;
  margin-left: 35% !important;
  margin-right: 40% !important;
  margin-top: 12% !important;
  }
  
  
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  
  
  #nav mat-toolbar-row {
    height: 55px;
    min-height: 55px;
    box-shadow: 0px -2px 25px;
  }
  
  #nav p,
  #nav i,
  #nav span {
    color: #000000;
  }
  
  #nav #usuario {
    position: absolute;
    left: 25px;
    min-width: 50px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  
  
  #nav #usuario:hover i {
    color: #0c0c0c;
  }
  
  #nav #usuario:hover span {
    color: #020202;
  
  
  }
  
  #nav #usuario i,
  #nav #usuario span {
    color: #002450;
  }
  
  #nav #usuario>>>.mat-button-wrapper {
    justify-content: flex-start;
  }
  
  #tituloTarjeta {
  color: #002450;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  font-weight:bold;
  letter-spacing:1px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center !important;
  }
  
  .opcionMenu{
    background-color: #fcfcfc !important;
    color: #215f92!important;
    font-weight: bold;
  }

  .opcionMenu:hover{
    background-color: #215f92!important;
    color: white !important;
  }

  #nav #tituloApp {
    position: absolute;
    margin-left: 65px;
    width: calc(100% - 830px);
    color: #002450;
    text-align: center;
    letter-spacing: 9px;
    font-weight: 900;
    font-size: 19px;
    font-weight:bold;
    letter-spacing:1px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left !important;
  }
  
  #nav #inicio {
    position: absolute;
    right: 335px;
    min-width: 90px;
  }
  
  #nav #inicio:hover {
    background: #215f92;
    color: #002450;
  
  }
  
  #nav #inicio:hover span {
    color: #fbfbfa;
  }
  
  
  
  #nav #opciones:hover {
    background: #215f92;
    color: #002450;
  
  }
  
  #nav #opciones:hover span {
    color: #fbfbfa;
  }
  
  #nav #cerrarSesion {
    position: absolute;
    right: 25px;
    min-width: 140px;
  }
  
  #nav #cerrarSesion:hover {
    background: #efeff1;
    color: #002450;
  
  }
  
  #nav #cerrarSesion:hover span {
    color: #fbfbfa;
  }
  
  #nav #textperfil {
    padding-left: 10px;
    letter-spacing: 2px;
  }
  
  .skew {
    height: 100%;
    transform: skewX(-20deg);
    position: absolute;
  }
  
  #skew {
    width: 410px;
    right: -10px;
    background: #08174b;
  }
  
  #skew2 {
    width: 415px;
    right: -10px;
    background: #3b66f1;
  }
  
  #skew button {
    transform: skewX(20deg);
  }
  
  
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }
  
  a:hover {
    color: #125699;
  }
  
  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }
  
  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }
  
  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }
  
  .circle-link {
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }
  
  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  
  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }
  
  footer a {
    display: flex;
    align-items: center;
  }
  
  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }
  
  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }
  
  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }
  
  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }
  
  
  /* Responsive Styles */
  @media screen and (max-width: 767px) {
  
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }
  
    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }
  
    .card.highlight-card span {
      margin-left: 72px;
    }
  
    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  
    .tarjetaInicio{
      background-color: rgb(252, 252, 252) !important;
      width: 70% !important;
      margin-left: 12% !important;
      margin-right: 18% !important;
      margin-top: 15% !important;
  
     }
     
  }
  ::ng-deep.owl-stage {
    display: flex !important;
    max-height: 120px !important;
    margin-top: 100px !important;
  }
  
  ::ng-deep.owl-item {
    width: 100% !important;
    text-align: center !important;
    height: 100px;
    color: #002450 !important;
  }
  
  ::ng-deep.owl-prev {
  display: none;
  }
  ::ng-deep.owl-next {
    display: none;
      }
  
  .textoCarrusel{
    width: 60% !important;
    color: #002450 !important;
    display: inline-block;
  }
  
  .imagenesCarrusel{
    display: inline-block !important;
    width: 8% !important;
  }
  
  @media screen and (max-width: 575px) {
    .textoCarrusel{  
    font-size: 14px;
    width: 40%;
  }
  
  
  
  #tituloApp{
    font-size: 20px !important;
  }
  .textoCheckbox{
    font-size: 13px !important;
    }
  .imagenesCarrusel{
    width: 20% !important;
    height: 60px !important;
  }
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
    #nav #cerrarSesion {
        right: 20px;
        height: 35px;
        min-width: 50px;
    }
    #textLogout{
        display: none !important;
    }
  
    .tarjetaInicio{
      background-color: rgb(252, 252, 252) !important;
      width: 88% !important;
      margin-left: 1% !important;
      margin-right: 8% !important;
      margin-top: 30% !important;
  
     }
     #tituloTarjeta {
    font-size: 20px !important; 
    }
  
  }






  #nav {
    /* background: -webkit-linear-gradient(left, rgb(243, 246, 250) , rgb(3, 27, 78)); /* For Safari 5.1 to 6.0 */
    /* background: -o-linear-gradient(right, rgb(243, 246, 250), rgb(3, 27, 78)); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(right, rgb(243, 246, 250), rgb(3, 27, 78)); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to right, rgb(243, 246, 250) , rgb(3, 27, 78)); /* Standard syntax */
    background:#215f92 !important;
    position: fixed;
    top: 0;
    /* height: 55px; */
    /* min-height: 90px; */
    min-width: 280px;
    width: 100vw;
    z-index: 100;
    color: white;
}

#nav #textLogout {
    color: white;
    font-size: 12px !important;
}

.opcionesNav {
    margin-top: 65px !important;
}

#itemConfiguracion {
    color: #215f92!important;
    font-weight: bold !important;
}

.example-sidenav {
    padding: 20px;
    display: flex;
    height: 1200px;
    background-color: rgba(255, 255, 255, 0.6) !important;
    position: fixed;
    margin-left: 0% !important;
    margin-right: 0% !important;
}

.opciones {
    background-color: rgba(255, 255, 255, 0.6) !important;
    cursor: pointer !important;
    margin-left: 10px !important;
}

.opciones:hover {
    background: rgba(8, 8, 8, 0.15);
}

.example-container {
    background-color: rgba(255, 255, 255, 0.6) !important;
}
#nav mat-toolbar-row {
    height: 55px;
    min-height: 55px;            
    background: #215f92 !important;

}

#nav p,
#nav i,
#nav span {
    color: #000000;
}

#nav #usuario {
    position: absolute;
    left: 25px;
    min-width: 380px;
    border-radius: 5px;
}

#nav #usuario:hover i {
    color: #0c0c0c;
}

#nav #usuario:hover span {
    color: #020202;
}

#nav #usuario i,
#nav #usuario span {
    color: #fbfbfa;
}

#nav #usuario >>> .mat-button-wrapper {
    justify-content: flex-start;
}

#nav #tituloApp {
    position: absolute;
    left: 21px;
    width: calc(100% - 830px);
    color: #ffffff;
    text-align: center;
    font-size: 26px;
}

#nav #inicio {
    position: absolute;
    right: 475px;
    min-width: 90px;
    color: #fbfbfa;

}

#nav #inicio:hover {
    background: #579efa;
    color: #002450;
}


#nav #inicio:hover span {
    color: #fbfbfa;
}

#nav #home {
    position: absolute;
    right: 275px;
    min-width: 90px;
}

#nav #home:hover {
    background: #579efa;
    color: #002450;
}

#nav #empresa:hover span {
    color: #fbfbfa;
}


#nav #politicas {
    position: absolute;
    right: 355px;
    min-width: 90px;
}

#nav #politicas:hover {
    background: #579efa;
    color: #002450;
}

#nav #politicas:hover span {
    color: #fbfbfa;
}


#nav #mercancia {
    position: absolute;
    right: 165px;
    min-width: 90px;
}

#nav #mercancia:hover {
    background: #579efa;
    color: #002450;
}

#nav #perfil:hover span {
    color: #fbfbfa;
}

#nav #opciones {
    position: absolute;
    right: 55px;
    min-width: 110px;
}

#nav #opciones:hover {
    background: #579efa;
    color: #002450;
}

#nav #opciones:hover span {
    color: #fbfbfa;
}

#nav #fuentes {
    position: absolute;
    right: 120px;
    min-width: 70px !important;
    min-height: 38px !important;
}

#nav #fuentes:hover {
    background: #579efa;
    color: #002450;
}

#nav #fuentes:hover span {
    color: #fbfbfa;
}

#nav #cerrarSesion {
    position: absolute;
    right: 8px;
    min-width: 55px !important;
    min-height: 38px !important;
}

#nav #cerrarSesion:hover {
    background: #579efa;
    color: #002450;
}

#nav #cerrarSesion:hover span {
    color: #fbfbfa;
}

#nav #textperfil {
    padding-left: 10px;
    letter-spacing: 2px;
}

.skew {
    height: 100%;
    transform: skewX(-20deg);
    position: absolute;
}

#skew {
    width: 410px;
    right: -10px;
    background: #08174b;
}

#skew2 {
    width: 415px;
    right: -10px;
    background: #3b66f1;
}

#skew button {
    transform: skewX(20deg);
}

@media screen and (max-width: 1000px) {
    #nav #tituloApp {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    #skew {
        width: 98%;
    }
    #nav #usuario {
        z-index: 100;
    }
    #nav #usuario i,
    #nav #usuario span {
      color: white;
    }
    #nav #usuario {
        left: 30px;
        min-width: 20px;
    }

    #nav #inicio {
        right: 255px;
        min-width: 10px !important;
        min-height: 38px !important;

    }


    #nav #politicas {
        right: 210px;
        min-width: 10px !important;
        min-height: 38px !important;

    }   
    #nav #mercancia {
        right: 165px;
        min-width: 10px !important;
        min-height: 38px !important;

    } 
    
    #nav #home {
        right: 115px;
        min-width: 10px !important;
        min-height: 38px !important;

    }


    #nav #fuentes {
      right: 160px;
      min-width: 50px !important;
  }


    #nav #opciones {
        right: 65px;
        min-width: 10px !important;
        min-height: 38px !important;

    }    
    
    #nav #cerrarSesion {
        right: 8px;
        min-width: 10px !important;
        min-height: 38px !important;

    }

    #textLogout {
        display: none;
        color: white;
    }
}

@media screen and (max-width: 680px) {

    #nav #usuario {
        left: 30px;
        min-width: 20px;        color: white;

    }
    #textLogout {
        display: none;
        color: white;
    }
}

@media screen and (max-width: 500px) {
    #nav #usuario {
        left: 15px;
        color: white;
        min-width: 50px;
    }
    .example-sidenav {
        width: 16% !important;
    }
    #listaOpciones {
        margin-left: -15px !important;
        width: 80% !important;
    }
    #nav #textperfil span {
        display: none;
    }
    #textLogout {
        display: none;
        color: white;
    }
    #nav #usuario {
        left: 30px;
        min-width: 210px;
    }
}

@media screen and (max-width: 415px) {
    #skew {
        width: 105%;
    }
    #nav button {
        padding: 0 4px;
    }
    #textLogout {
        display: none;
        color: white;
    }
    #nav #empresa {
        right: 110px;
        min-width: 10px;
    }

    #nav #fuentes {
      right: 140px;
      min-width: 50px;
  }

  #nav #perfil {
    right: 160px;
    min-width: 10px;
}

#nav #politicas {
  right: 210px;
  min-width: 10px;
}

#nav #inicio {
  right: 260px;
  min-width: 10px;
}
}

@media screen and (max-width: 360px) {

    #textLogout {
        display: none;
        color: white;
    }

}

@media screen and (max-width: 330px) {
    #nav #textperfil {
        display: none;
    }
    #nav #usuario {
        left: 20px;
        min-width: 20px;
        color: white;
    }
    #nav #usuario i {
        font-size: 20px;
    }
}

