<mat-toolbar id="nav">
    <mat-toolbar-row>
    <div class="flex" *ngIf="isLogin">  
  
  <button mat-button id="home" [routerLink]="'/home'" matTooltip="Home">
    <i class="fa fa-home white" style="color: white !important;" aria-hidden="true"></i>
          <span id="textLogout"> Home</span>
  </button>
  
  <button mat-button id="mercancia" [routerLink]="'/mercancia'" matTooltip="Mercancia">
      <i class="fas fa-shopping-bag" style="color: white !important;" aria-hidden="true"></i>
      <span id="textLogout"> Mercancia</span>
  </button>
  
  <button mat-button  id="opciones" type="button" matTooltip="Usuarios" [routerLink]="'/usuario'">
      <i class="fa fa-user white" style="color: white !important;" aria-hidden="true"></i>
      <span id="textLogout">Usuarios</span>
  </button>

  
  
  <button mat-button id="cerrarSesion"  (click)="cerrarSesion()" type="button" matTooltip="Cerra sesión">
      <i class="fas fa-sign-out-alt white" style="color: white !important;"></i>
      <!--  <span id="textLogout">Cerrar sesión</span>-->
  </button>
  </div>
  <i  class="fa fa-user-circle" style="color:white !important; left:10px !important" aria-hidden="true"></i>  
      &nbsp;&nbsp;
      <h1 id="tituloApp"> 
      Portal Mercancia </h1>
  
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>

  
  <footer>
    <strong style="color:white !important">Portal Mercancia - Todos los derechos reservados &nbsp; <i class="fa fa-minus" aria-hidden="true"></i> &nbsp;
      Version {{version}}
    </strong>
  </footer>