#loaderContenedor {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#loader {
    width: 100%;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    z-index: 100;
    overflow: hidden !important;
    display: none;
    top: 0;
    margin-bottom: -23px !important;
}

#subContloader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: -30px !important;
}

.cargando{
    text-align: center !important;
    margin-left: 10% !important;
    font-weight: bold;
    color: #2e77cf !important;
    font-size: 32px !important;
}

.lds-circle {
    display: inline-block;
    width: 122px;
    height: 122px;
    margin: 6px;
    border-radius: 50%;
    background: #fc253b;
    animation: lds-circle 4.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lds-circle img {
    width: 80%;
}

@keyframes lds-circle {
    0%,
    100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #2e77cf;
    background: -moz-linear-gradient(left, #2e77cf 10%, rgba(46,119,207, 0) 42%);
    background: -webkit-linear-gradient(left, #2e77cf 10%, rgba(46,119,207, 0) 42%);
    background: -o-linear-gradient(left, #2e77cf 10%, rgba(46,119,207, 0) 42%);
    background: -ms-linear-gradient(left, #2e77cf 10%, rgba(46,119,207, 0) 42%);
    background: linear-gradient(to right, #2e77cf 10%, rgba(46,119,207, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    margin-bottom: -5% !important;
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #2e77cf;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #ffffff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  

