<div id="loaderContenedor">
    <div id="loader">
        <div id="subContloader">
      
          
            <div class="loader">               
            </div>
            <br>
        </div>
    </div>

</div>
<strong class="cargando">Cargando...</strong>



