#nav {

   background: rgba(255, 255, 255, 0.6) !important;
   position: fixed;
   top: 0;
   height: 55px;
   min-height: 55px;
   min-width: 280px;
   width: 100%;
   z-index: 100;
   margin-left: -10px !important;
}

.contenedorPantalla{
 margin-top: 50px !important;
 margin-left: 5% !important;
 margin-right: 5% !important;
 margin-bottom: 110px !important;
 width: 90% !important;
}

.textoCheckbox{
text-align: center !important;
width: 100% !important;
color: #002450;
font-weight: bold;
}

.contenedorForma{
margin-top: 20px !important;
margin-left: 5% !important;
margin-right: 5% !important;
width: 90% !important;
}

.tarjetaInicio{
background: rgba(255, 255, 255, 0.9) !important;
width: 30% !important;
margin-left: 35% !important;
margin-right: 40% !important;
margin-top: 8% !important;
}




#nav mat-toolbar-row {
  height: 55px;
  min-height: 55px;
  box-shadow: 0px -2px 25px;
}

#nav p,
#nav i,
#nav span {
  color: #000000;
}

#nav #usuario {
  position: absolute;
  left: 25px;
  min-width: 50px;
  border-radius: 5px;
  margin-top: 20px;
}



#nav #usuario:hover i {
  color: #0c0c0c;
}

#nav #usuario:hover span {
  color: #020202;


}

#nav #usuario i,
#nav #usuario span {
  color: #002450;
}

#nav #usuario>>>.mat-button-wrapper {
  justify-content: flex-start;
}

#tituloTarjeta {
color: #215f92!important;
text-align: center;
font-weight: 900;
font-size: 24px;
font-weight:bold;
letter-spacing:1px;
font-family:Arial, Helvetica, sans-serif;
text-align: center !important;
margin-top: -70px !important;
}


#nav #tituloApp {
  position: absolute;
  margin-left: 65px;
  width: calc(100% - 830px);
  color: #215f92!important;
  text-align: center;
  letter-spacing: 9px;
  font-weight: 900;
  font-size: 24px;
  font-weight:bold;
  letter-spacing:1px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: left !important;
}


a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}



footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}





/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }

  .tarjetaInicio{
    background-color: rgb(252, 252, 252) !important;
    width: 70% !important;
    margin-left: 12% !important;
    margin-right: 18% !important;
    margin-top: 15% !important;

   }
   
}
::ng-deep.owl-stage {
  display: flex !important;
  max-height: 120px !important;
  margin-top: 100px !important;
}

::ng-deep.owl-item {
  width: 100% !important;
  text-align: center !important;
  height: 100px;
  color: #002450 !important;
}

::ng-deep.owl-prev {
display: none;
}
::ng-deep.owl-next {
  display: none;
    }

.textoCarrusel{
  width: 60% !important;
  color: #002450 !important;
  display: inline-block;
}

.imagenesCarrusel{
  display: inline-block !important;
  width: 8% !important;
}

@media screen and (max-width: 575px) {
  .textoCarrusel{  
  font-size: 14px;
  width: 40%;
}



#tituloApp{
  font-size: 20px !important;
}
.textoCheckbox{
  font-size: 13px !important;
  }
.imagenesCarrusel{
  width: 20% !important;
  height: 60px !important;
}
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
  #nav #cerrarSesion {
      right: 20px;
      height: 35px;
      min-width: 50px;
  }
  #textLogout{
      display: none !important;
  }

  .tarjetaInicio{
    background-color: rgb(252, 252, 252) !important;
    width: 88% !important;
    margin-left: 1% !important;
    margin-right: 8% !important;
    margin-top: 30% !important;

   }
   #tituloTarjeta {
  font-size: 20px !important; 
  }

}