

<div class="contenedorPantalla" >
  <mat-card class="tarjetaInicio">
    <div style="width: 100% !important; display: inline-flex;" class="flex">
     <h1 style="font-size: 150px !important; color: #125699;"><i class="fas fa-users"></i></h1>
    </div>
    <h2 id="tituloTarjeta">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
      &nbsp;&nbsp;Inicio sesión&nbsp;&nbsp;
      <i class="fa fa-user-circle" aria-hidden="true"></i></h2>
    <hr>
    <div class="contenedorForma" [formGroup]="formCliente">
      <br>  

      <mat-form-field class="inputCompleto animated fadeIn">
      <input matInput formControlName="usuario" placeholder="Nombre Usuario*" autocomplete="off" #codigo maxlength="20" />
      <i matSuffix style="color: gray !important;" class="fa fa-address-card"></i>

    </mat-form-field>

    <mat-form-field class="inputCompleto">
      <input id="password" matInput name="password" placeholder="Contraseña" autocomplete="off" formControlName="password" [type]="hide ? 'text' : 'password'" >
  <i matSuffix  style="color: gray !important; cursor: pointer !important;" [class]="hide ? 'fa fa-eye icoPass' : 'fa fa-eye-slash icoPass'" (click)="hide = !hide"></i>
  </mat-form-field>
      <br><br>
   <button  type="button" mat-raised-button color="primary" 
   style="background-color: #215f92!important; border-radius: 25px 25px 25px 25px !important; height: 42px !important;"
    class="borderRadius7 marginLados inputCompleto" (click)="iniciarSesion()">
    <span>Iniciar Sesion</span>&nbsp;&nbsp;&nbsp;
    <i class="fa fa-sign-in-alt"></i>
  </button>

    <br><br>
    </div>

  </mat-card>
</div>

