


<div class="contenedorPantalla" >
  <br><br><br>
 <h1><strong style="font-size: 35px !important; color: #215f92!important;">USUARIO &nbsp;
  <i class="fa fa-user" style="color: gray !important;"></i>
</strong> </h1>
 <hr>
 

<div class="contenedorForma" [formGroup]="formUsuario">
  <br>

  <mat-form-field class="inputx4 animated fadeIn">
    <input matInput formControlName="usuario" placeholder="Usuario" autocomplete="off" #codigo maxlength="40" required
    (input)="formUsuario.controls.usuario.setValue(formUsuario.controls.usuario.value.toUpperCase())" />
    <i matSuffix style="color: gray !important;" class="fa fa-address-card"></i>

  </mat-form-field>

  <mat-form-field class="inputx4 animated fadeIn">
    <input id="password" matInput name="password" autocomplete="new-password" placeholder="Nueva Contraseña" autocomplete="off" formControlName="nuevaPassword" [type]="hideNewPass ? 'text' : 'password'" required >
<i matSuffix  style="color: gray !important; cursor: pointer !important;" [class]="hideNewPass ? 'fa fa-eye icoPass' : 'fa fa-eye-slash icoPass'" (click)="hideNewPass = !hideNewPass"></i>
</mat-form-field>

<mat-form-field class="inputx4 animated fadeIn">
  <input id="password" matInput name="password" placeholder="Confirme Nueva Contraseña" autocomplete="off" formControlName="confirmarPassword" [type]="hideConfirmPas ? 'text' : 'password'" required >
<i matSuffix  style="color: gray !important; cursor: pointer !important;" [class]="hideConfirmPas ? 'fa fa-eye icoPass' : 'fa fa-eye-slash icoPass'" (click)="hideConfirmPas = !hideConfirmPas"></i>
</mat-form-field>

<mat-form-field class="inputx4 animated fadeIn">
  <input matInput formControlName="edad" placeholder="Edad"
    (keypress)="confi.validarCaracter($event, 'NUM')" #codigo maxlength="3" required />
  <i matSuffix style="color: gray !important;" class="fas fa-male"></i>
</mat-form-field>

<mat-form-field class="inputx4 animated fadeIn">
  <input matInput formControlName="fechaIngreso" placeholder="Fecha Ingreso" [matDatepicker]="picker1" readonly required>
  <mat-datepicker-toggle style="font-size: 16px !important;" matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker style="font-size: 16px !important;" #picker1></mat-datepicker>
  &nbsp;&nbsp;&nbsp;

</mat-form-field>

<mat-form-field class="inputx4  animated fadeIn">
  <mat-select formControlName="cargo" placeholder="Cargos">
      <mat-option *ngFor="let cargo of cargos" [value]="cargo.id">
          {{ cargo.nombre_cargo | uppercase}}</mat-option>
  </mat-select>

</mat-form-field>

</div>



  <div class="contenedorBotones flex">

    <button *ngIf="isEditarUsuario"  type="button" mat-raised-button color="primary" 
    style="background-color: #215f92!important; border-radius: 25px 25px 25px 25px !important; height: 42px !important;"
    class="borderRadius7 marginLados boton" (click)="guardarUsuario(formUsuario)" >
    <span>Actualizar Usuario</span>&nbsp;&nbsp;&nbsp;
    <i class="fa fa-save"></i>
</button>


<button *ngIf="!isEditarUsuario" type="button" mat-raised-button color="primary" 
style="background-color: #215f92!important; border-radius: 25px 25px 25px 25px !important; height: 42px !important;"
class="borderRadius7 marginLados boton" (click)="guardarUsuario(formUsuario)" >
<span>Crear Usuario</span>&nbsp;&nbsp;&nbsp;
<i class="fas fa-user-plus"></i>
</button>

<button  type="button" mat-raised-button style=" border-radius: 25px 25px 25px 25px !important; height: 42px !important;"
 class="borderRadius7 marginLados boton" (click)="limpiarForma(formUsuario)">
  <span>Limpiar Forma</span>&nbsp;&nbsp;&nbsp;
  <i class="fa fa-eraser" aria-hidden="true"></i>
  </button>
  </div>
<br>

<h1 *ngIf="dataSource.data.length > 0">
  <strong style="font-size: 22px !important; color: #215f92!important;">Usuarios &nbsp;
    <i class="fas fa-users" style="color: gray !important;" aria-hidden="true"></i>
  </strong> </h1>
<hr *ngIf="dataSource.data.length > 0">
<br><br>
<div class="contenedorResultadosTabla " *ngIf="dataSource.data.length > 0">


  <div id="tablaCliente ">
    <!--        _______________________________________________  TABLA DE DETALLES    -->
    <div class="contenedorTabla" id="resultados ">
      <mat-table #Table class="mat-elevation-z8 tabla" [dataSource]="dataSource " matSort>

        <!-- valorU Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="flex ">
            ID
          </mat-header-cell>
          <mat-cell *matCellDef="let element " class="">
            {{ element.id }}

          </mat-cell>
        </ng-container>

        <!-- valorU Column -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="flex ">
            NOMBRE
          </mat-header-cell>
          <mat-cell *matCellDef="let element " class="">
            {{ element.nombre|uppercase }}

          </mat-cell>
        </ng-container>

        <!-- valorU Column -->
        <ng-container matColumnDef="edad">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="flex ">
            EDAD
          </mat-header-cell>
          <mat-cell *matCellDef="let element " class="">
            {{ element.edad }}

          </mat-cell>
        </ng-container>

        <!-- valorU Column -->
        <ng-container matColumnDef="fecha_ingreso">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="flex ">
            FECHA INGRESO
          </mat-header-cell>
          <mat-cell *matCellDef="let element " class="">
            {{ element.fecha_ingreso  | date: 'dd/MM/yyyy' }}

          </mat-cell>
        </ng-container>


        <!-- Columna valor parcial -->
        <ng-container matColumnDef="opciones">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="flex ">
            OPCIONES
          </mat-header-cell>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-cell *matCellDef="let element; let i=index " class="">
            <span color="primary" mat-flat-button aria-hidden="true " matTooltip="Editar" matTooltipShowDelay="250 "
              matTooltipHideDelay="0 " matTooltipPosition="above" style="cursor: pointer"
              (click)="listarUsuario(element,formUsuario )">
              &nbsp; <i class="fas fa-edit" style="color: #215f92!important;"></i>
            </span>
            &nbsp;&nbsp;
            <span  color="primary" mat-flat-button aria-hidden="true "
              matTooltip="Eliminar" matTooltipShowDelay="250 " matTooltipHideDelay="0 " matTooltipPosition="above"
              style="cursor: pointer" (click)="eliminarUsuario(element)">
              &nbsp; <i class="fa fa-trash" style="color: rgb(155, 35, 35) !important;"></i>
            </span>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns "></mat-row>
      </mat-table>
    </div>
    <mat-paginator *ngIf="dataSource && dataSource.data.length > 0" style="width: 100% !important;" #paginator
      [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]">
    </mat-paginator>
  </div>
</div>

<br><br>


</div>