

.contenedorPantalla{
 margin-top: 50px !important;
 margin-left: 5% !important;
 margin-right: 5% !important;
 margin-bottom: 110px !important;
 width: 90% !important;
}


.contenedorForma{
margin-top: 20px !important;
margin-left: 5% !important;
margin-right: 5% !important;
width: 90% !important;
}




@media screen and (max-width: 575px) {
  .textoCarrusel{  
  font-size: 14px;
  width: 40%;
}

.boton{
  width: 90% !important;
  margin-bottom: 20px !important;
  }

  .contenedorBotones{
    display: inline-block !important;
    margin-top: 45px !important;
  }


#tituloApp{
  font-size: 20px !important;
}
.textoCheckbox{
  font-size: 13px !important;
  }


}