/*
 * Redcolsa Colombiana De Servicios S.A
 * Copyright 2020-2030 Redcolsa, Todos los derechos reservados
 */

@import './estilos_pordefecto_material.css';
@import "~@fortawesome/fontawesome-free/css/all.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css");


html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;
    overflow-y: scroll !important;

}

body {
    overflow-x: hidden !important;
    min-height: 100vh;
    width: 100vw;
    overflow-y: scroll !important;

}

* {
    outline: none !important;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.041);
    background-color: gray !important;
}

div,
p,
pre,
span,
strong {
    font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
    font-size: 15px !important;
    margin: 0;
}

footer {
        background: #215f92 !important;

}

strong {
    color: #000000 !important;
}

#bloqPantalla {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
}

footer {
    position: fixed;
    z-index: 100;
    bottom: 0;
    background: #215f92 !important;
    text-align: left;
    width: 100%;
    height: 60px;
    line-height: 1.5;
    display: flex !important;
    align-content: center;
    align-items: center;
    justify-content: center;
    box-shadow: 8px -2px 12px -5px;
    margin-left: -10px !important;
}
footer span {
    margin-right: 20px;
    font-size: calc(10px + 0.4vw);
}

.contenedorEjemplo {
    display: flex;
    height: calc(100vh - 64px);
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.contenedorModulos {
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: auto;
    position: absolute;
    top: 55px;
}

.contenedorInformacion {
    width: 90vw;
    height: auto;
    min-height: calc(100vh - 270px);
    padding: 10px 5vw 70px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.alignStart {
    align-items: flex-start;
}

.space-around {
    justify-content: space-around;
}

.backgroundGris {
    background: #555 !important;
}

.gris {
    color: #555 !important;
}

.red {
    color: #ef2339 !important;
}

.delete {
    color: #ef2339 !important;
    margin-right: 10px;
}

.primary {
    background-color: #2e77cf !important;
}  


.btnCrear{
    background-color: rgb(34, 55, 100) !important;
     width: 20% !important;
     border-radius: 18px 18px 18px 18px;
     -moz-border-radius: 18px 18px 18px 18px;
     -webkit-border-radius: 18px 18px 18px 18px;
     border: 0px solid #000000;
}
.btnEditar{
    background-color: rgb(34, 55, 100) !important;
     width: 20% !important;
     border-radius: 18px 18px 18px 18px;
     -moz-border-radius: 18px 18px 18px 18px;
     -webkit-border-radius: 18px 18px 18px 18px;
     border: 0px solid #000000;
}
.btnLimpiar{
    background-color: rgb(189, 189, 189) !important;
     width: 20% !important;
     border-radius: 18px 18px 18px 18px;
     -moz-border-radius: 18px 18px 18px 18px;
     -webkit-border-radius: 18px 18px 18px 18px;
     border: 0px solid #000000;
}



.subcontenedorInformacion {
    width: 100%;
}

.completo {
    width: 100% !important;
}

.marginLados {
    margin: 0 7px !important;
}

.marginLados0 {
    margin: 0 !important;
}

.marginLados20 {
    margin: 0 20px !important;
}

.marginLados30 {
    margin: 0 30px !important;
}

.marginLados40 {
    margin: 0 40px !important;
}

.marginTop0 {
    margin-top: 0 !important;
}

.marginBottom5 {
    margin-bottom: 5px !important;
}

.marginBottom0 {
    margin-bottom: 0 !important;
}

.marginBottom20 {
    margin-bottom: 20px !important;
}

.marginBottom {
    margin-bottom: 70px !important;
}

.active {
    font-weight: 900;
}

.white {
    color: #fafafa;
}

.textRight {
    text-align: right !important;
}

.rightCelda {
    justify-content: flex-end !important;
}

.boxShadow {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.borderRadius {
    border-radius: 30px !important;
}

.borderRadius7 {
    border-radius: 7px !important;
}

.pointer {
    cursor: pointer !important;
}

.opcionesIcoTabla:before {
    cursor: pointer;
    padding: 7px;
    border-radius: 2px;
}

.opcionesIcoTablaTexto:before {
    cursor: pointer;
    padding: 7px !important;
    border-radius: 2px;
    content: ' ';
}

.opcionesIcoTabla:hover {
    background: rgba(0, 0, 0, 0.1);
}

.opcionesIcoTablaTexto:hover {
    background: rgba(0, 0, 0, 0.1);
}

.tituloPagina {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.tituloPagina>p {
    background: #2e77cf;
    color: #fafafa;
    padding: 5px 35px;
    margin: 0 30px;
    transform: skew(-10deg);
    font-size: 20px;
}

.panel {
    width: 95%;
    box-shadow: 0px -2px 2px -1px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
    margin: 10px 2.5% !important;
}

.panel .tituloPanel {
    margin-bottom: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.panel .tituloPanel>p {
    padding: 5px 30px;
    margin: 0 30px;
    transform: skew(-10deg);
    background: #ddd;
    font-size: 15px;
    color: #2e77cf;
}

.panel .descripcionPanel {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    overflow-x: hidden;
    min-width: 700px;
}


/* CONTENEDOR BOTONES */

.contenedorBotones {
    margin: 20px 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.flexEnd {
    justify-content: flex-end;
}

.columnStart {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: flex-start !important;
}

.cursorDefault {
    cursor: default;
}

.contenedorBotones button {
    margin: 0 15px;
    padding: 0 30px;
}

.opcionMenu:hover {
    background: #ef2339 !important;
    color: #fafafa !important;
}

.opcionMenu:hover strong {
    color: #fafafa !important;
}


/* FIN CONTENEDOR BOTONES */


/* INPUTS */

.inputCompleto {
    width: 100% !important;
    border-radius: 18px !important;
    border-color: gray !important;
    border: 1px solid gray;
    max-height: 45px !important;
    font-size: 13px !important;
    margin-bottom: 22px !important;

}

.inputCompletoTextArea{
    width: 100% !important;
    border-radius: 5px !important;
    border-color: gray !important;
    border-radius: 18px !important;
    border-color: gray !important;
    border: 1px solid gray;
    max-height: 145px !important;
    font-size: 13px !important;
    margin-bottom: 15px !important;
    bottom: -15px !important;
}
.inputCompletoAccesos{
    width: 100% !important;
    border-radius: 5px !important;
    border-color: gray !important;
    border-radius: 8px !important;
    border-color: gray !important;
    border: 1px solid gray;
    height: 95px !important;
    overflow-y: scroll !important;
    font-size: 13px !important;
    margin-bottom: 5px !important;
    bottom: -15px !important;
}

/* To display a border for the input */
.mat-input-flex.mat-form-field-flex{
    border: 1px solid black;
 }
 
 /* To remove the default underline */
 .mat-input-underline.mat-form-field-underline {
    background: transparent;
 }
 
 /* To remove the underline ripple */
 .mat-input-ripple.mat-form-field-ripple{
    background-color: transparent; 
 }

.inputx2_3 {
    width: 66% !important;
    margin: 0 1.5% !important;
    
    border-radius: 5px !important;
    border-color: gray !important;
    border-radius: 18px !important;
    border-color: gray !important;
    border: 1px solid gray;
    max-height: 45px !important;
    font-size: 13px !important;
    margin-bottom: 22px !important;
    margin-bottom: 10px !important;
}

.inputx2 {
    width: 40% !important;
    margin: 0 1.8% !important;
    
    border-radius: 5px !important;
    border-color: gray !important;
    border-radius: 18px !important;
    border-color: gray !important;
    border: 1px solid gray;
    max-height: 45px !important;
    font-size: 13px !important;
    margin-bottom: 22px !important;
    margin-bottom: 10px !important;

}
.inputx2TextArea{
        width: 40% !important;
        margin: 0 2.5% !important;
        border-radius: 5px !important;
        border-color: gray !important;
        border-radius: 18px !important;
        border-color: gray !important;
        border: 1px solid gray;
        max-height: 65px !important;
        font-size: 13px !important;
        margin-bottom: 5px !important;
        bottom: -15px !important;
}

.inputx3 {
    width: 30% !important;
    margin: 0 1.5% !important;
    
    border-radius: 5px !important;
    border-color: gray !important;
    border-radius: 18px !important;
    border-color: gray !important;
    border: 1px solid gray;
    max-height: 45px !important;
    font-size: 13px !important;
    margin-bottom: 22px !important;


}

.inputx4 {
    width: 18% !important;
    margin: 0 1.8% !important;
    
    border-radius: 5px !important;
    border-color: gray !important;
    border-radius: 18px !important;
    border-color: gray !important;
    border: 1px solid gray;
    max-height: 45px !important;
    font-size: 13px !important;
    margin-bottom: 22px !important;
}

.inputInicial {
    margin-left: 0 !important;
    border-radius: 5px !important;
    border-color: gray !important;
}

.inputFinal {
    margin-right: 0 !important;
    border-radius: 5px !important;
    border-color: gray !important;
}





.infoRuta {
    margin: 0 30px 15px 0;
    padding-top: 35px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

.infoRuta div {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    cursor: pointer;
}

.infoRuta span:nth-child(2) {
    cursor: pointer;
    margin-right: 4px;
}

.infoRuta .actual {
    padding: 5px 7px;
    border-radius: 7px;
    border: dotted 1px;
    font-weight: 900;
}

.infoRuta.volver {
    margin: 0 65px 0 0;
    padding-top: 32px;
}

.infoRuta.volver button {
    background: #2e77cf;
}

.infoRuta.volver div {
    border: none;
    border-radius: none;
    width: 35px;
    height: 35px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    cursor: pointer;
}

.infoRuta.volver i {
    margin-right: 8px;
    color: #fafafa;
}

.infoRuta.volver span {
    color: #fafafa;
}

.borderConfig {
    border: solid 2px #2e77cf;
}

.borderFacturacion {
    border: solid 2px #ef2339;
}

.borderClientes {
    border: solid 2px #0091EA;
}

.borderEmpresa {
    border: solid 2px #00aa73;
}

.borderTrazabilidad {
    border: solid 2px #E65100;
}

.infoRutaConfig div i,
.infoRutaConfig span {
    color: #2e77cf;
}

.infoRutaFacturacion div i,
.infoRutaFacturacion span {
    color: #ef2339;
}

.infoRutaClientes div i,
.infoRutaClientes span {
    color: #0091EA;
}

.infoRutaEmpresa div i,
.infoRutaEmpresa span {
    color: #00aa73;
}

.infoRutaTrazabilidad div i,
.infoRutaTrazabilidad span {
    color: #E65100;
}

.estilosVentanaEmergente{
    color: r#215f92  !important;

}

.swal2-popup .swal2-styled.swal2-confirm{
    background-color: #215f92  !important;

}

.swal2-popup .swal2-title{
    color: #215f92 !important;

}

/* CONTENEDOR CARDS */

.contCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 10px 0 50px
}

mat-card.cardCompleta {
    margin: 15px 2.5% 0;
    box-shadow: 0px -2px 2px -1px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

mat-card.cardCompleta .subCardCompleta {
    width: 50%;
}

mat-card.cardCompleta .subCardCompleta.row {
    margin-left: calc(3% + 24px);
    display: flex;
    align-content: center;
    align-items: flex-start;
    justify-content: space-around;
}

.subCardCompleta.row .contenidoCard {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.contCards mat-card {
    width: 45%;
    margin: 0 2.5%;
    box-shadow: 0px -2px 2px -1px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
}

.contCards mat-card:nth-child(1) {
    margin-right: 1.25%;
}

.contCards mat-card:nth-child(2) {
    margin-left: 0.5%;
}

.tituloCard {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    position: relative;
}

.contenidoCard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.contenidoCard .subContenidoCard {
    width: 50%;
}

.contenidoCard .subContenidoCard:nth-child(1) {
    margin-right: 10px;
}

.contenidoCard.dosCol {
    flex-direction: row;
    flex-wrap: nowrap;
}

.contenidoCard .subContenidoCardDosCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.contenidoCard .subContenidoCardDosCol:nth-child(1) {
    padding-right: 20px;
}

.contenidoCard .subContenidoCardDosCol:nth-child(2) {
    padding-left: 20px;
}




@media screen and (max-width: 1000px) {
    .inputx4,
    .inputx3,
    .inputx2TextArea,
    .inputx2 {
        width: 35% !important;
        margin: 0 2.5% !important;
        margin-top: 22px !important;
    }
}




@media screen and (max-width: 600px) {
    .inputx4,
    .inputx3,
    .inputx2TextArea,
    .inputx2 {
        width: 90% !important;
        margin-top: 22px !important;

    }
    .tituloDescripcion {
        margin-top: 0;
    }
}

@media screen and (max-width:480px) {
    .infoRuta span:nth-child(2) {
        display: none;
    }
    footer {
        flex-direction: column;
        height: 45px;
        justify-content: center;
        font-size: 20px !important;
        text-align: center !important;
    }
    footer span {
        margin-right: 0;
    }
    footer #puntoFooter {
        display: none;
    }
}

@media screen and (max-width:320px) {
    footer span {
        text-align: center;
        line-height: 1;
    }
}

@media screen and (orientation: portrait) {
    #actualizar,
    #botonesBuscar {
        margin-bottom: 30px !important;
    }
}